<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :semester_season %>
    <%= f.select :semester_season, [['Fall','Fall'],['Spring','Spring']] %>
  </div>
  <div class="field">
    <%= f.label :semester_year %>
    <%= f.select :semester_year, (1984..2013) %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :attendees %>
    <%= f.select :attendees, (1..10) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
