<h1>Listing registrations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Semester season</th>
      <th>Semester year</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Attendees</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.name %></td>
        <td><%= registration.semester_season %></td>
        <td><%= registration.semester_year %></td>
        <td><%= registration.address %></td>
        <td><%= registration.phone %></td>
        <td><%= registration.email %></td>
        <td><%= registration.attendees %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
