<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Semester season:</strong>
  <%= @registration.semester_season %>
</p>

<p>
  <strong>Semester year:</strong>
  <%= @registration.semester_year %>
</p>

<p>
  <strong>Address:</strong>
  <%= @registration.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @registration.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @registration.attendees %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
