<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    *Name:
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Semester Season:
    <%= f.select :semester_season, [['Fall','Fall'],['Spring','Spring']] %>
  </div>
  <div class="field">
    Semester Year:
    <%= f.select :semester_year, (1984..2013) %>
  </div>
  <div class="field">
    Address:
    <%= f.text_field :address %>
  </div>
  <div class="field">
    Phone:
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    *Email:
    <%= f.email_field :email %>
  </div>
  <div class="field">
    *Number attending:
    <%= f.select :attendees, (1..10) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
