<%- model_class = Attendee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:semester_season) %></th>
      <th><%= model_class.human_attribute_name(:semester_year) %></th>
      <th><%= model_class.human_attribute_name(:location_id) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%= model_class.human_attribute_name(:attendees) %></th>
      <th><%= model_class.human_attribute_name(:host) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:follow_up) %></th>
      <th><%= model_class.human_attribute_name(:virtual) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= link_to attendee.name, attendee_path(attendee) %></td>
        <td><%= attendee.semester_season %></td>
        <td><%= attendee.semester_year %></td>
        <td><%= attendee.location.try(:city_name) %></td>
        <td><%= attendee.phone %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.zip %></td>
        <td><%= attendee.attendees %></td>
        <td><%= attendee.host %></td>
        <td><%=l attendee.created_at %></td>
        <td><%= attendee.follow_up %></td>
        <td><%= attendee.virtual %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_attendee_path(attendee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      attendee_path(attendee),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_attendee_path,
            :class => 'btn btn-primary' %>
