<%- model_class = Attendee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @attendee.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:semester_season) %>:</strong></dt>
  <dd><%= @attendee.semester_season %></dd>
  <dt><strong><%= model_class.human_attribute_name(:semester_year) %>:</strong></dt>
  <dd><%= @attendee.semester_year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_id) %>:</strong></dt>
  <dd><%= @attendee.location.try(:city_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @attendee.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @attendee.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @attendee.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attendees) %>:</strong></dt>
  <dd><%= @attendee.attendees %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              attendees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_attendee_path(@attendee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              attendee_path(@attendee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
